<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e73b0">  <td>18/10/21 10:45:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Report.beforeMethod()[pri:0, instance:testcases.CreateLeaf@2286778]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@872365343</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/10/21 10:45:56</td>   <td>25226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Report.beforeMethod()[pri:0, instance:testcases.CreateLeaf@2286778]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@872365343</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/10/21 10:46:26</td>   <td>54964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Report.beforeMethod()[pri:0, instance:testcases.CreateLeaf@2286778]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@872365343</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 10:45:54</td>   <td>23064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGTestcases.closeBrowsers()[pri:0, instance:testcases.CreateLeaf@2286778]">&lt;&lt;closeBrowsers</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@872365343</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 10:46:23</td>   <td>52815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGTestcases.closeBrowsers()[pri:0, instance:testcases.CreateLeaf@2286778]">&lt;&lt;closeBrowsers</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@872365343</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 10:46:47</td>   <td>76332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGTestcases.closeBrowsers()[pri:0, instance:testcases.CreateLeaf@2286778]">&lt;&lt;closeBrowsers</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@872365343</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/21 10:45:46</td>   <td>15152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeaf.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLeaf@2286778]">createLead</td> 
  <td>TestNG-test=Test-1@872365343</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/21 10:46:11</td>   <td>40760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeaf.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLeaf@2286778]">createLead</td> 
  <td>TestNG-test=Test-1@872365343</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/21 10:46:39</td>   <td>68142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeaf.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLeaf@2286778]">createLead</td> 
  <td>TestNG-test=Test-1@872365343</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/10/21 10:46:49</td>   <td>78533</td> <td title="&lt;&lt;Report.endResult()[pri:0, instance:testcases.CreateLeaf@2286778]">&lt;&lt;endResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@982007015</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 10:45:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestcases.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLeaf@2286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@872365343</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 10:45:56</td>   <td>25226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestcases.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLeaf@2286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@872365343</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/21 10:46:26</td>   <td>54964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGTestcases.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLeaf@2286778]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@872365343</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/10/21 10:45:30</td>   <td>-485</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLeaf.setData()[pri:0, instance:testcases.CreateLeaf@2286778]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@982007015</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/10/21 10:45:30</td>   <td>-641</td> <td title="&gt;&gt;Report.startResult()[pri:0, instance:testcases.CreateLeaf@2286778]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@982007015</td>   <td></td> </tr>
</table>
